@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>AddPage</title>
</head>
<body>
    using(@Html.BeginForm()){
        <fieldset>
            <input type="text" class="form-control" id="title">
        </fieldset>
</body>
</html>

